button{
  padding: 0.3vw;
  border-width: 0.01vw;
}

#content{
  margin-left: 12%;
  font-size: 1.5vw;
}
input{
  font-size: 1.4vw;
  border-width: 0.01vw;
  padding: 0;
}

.saisieAssiste{
  display: grid;
  grid-template-columns: 90% 10%;
  width: 80%;
}
.saisieAssiste img{
  width: 1vw;
}
.saisieAssiste button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-appearance: none;
  cursor: pointer;
}
#formulaire{
  display: grid;
  grid-template-columns: 50% 50%;
}
form .saisieAssiste{
  margin-bottom: 2vw;
}

#valider{
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-content: center;
  float:right;
  margin-top: 6vw;
}
table{
  width: 100%;
}
table, th, td {
  border: 0.1vw solid black;
  border-collapse: collapse;
  margin-bottom: 15px;
}
table th,td{
  width: 25%;
  padding: 0.1vw 0;
  
}
table input{
  width: 100%;
  border-width: 0;
}
table .saisieAssiste{
  width: 100%;
}

#AjoutContact{
  margin-top: 1vw;
}