#content{
  margin-left: 12%;
  width: 80%;
}
input{
  font-size: 1.5vw;
  padding: 0;
  border-width: 0.01vw;
}
#formulaire{
  display: grid;
  grid-template-columns : 50% 50%;
  margin-left: 20%;
}
#valider{
  font-size: 1.5vw;
  margin-left: 50%;
  padding: 0.3vw;
  border-width: 0.01vw;
}
.saisieAssiste{
  display: grid;
  grid-template-columns: 90% 10%;
  width: 90%;
  margin-bottom: 2vw;
}
.saisieAssiste button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.saisieAssiste input{
  font-size: 1.5vw;
}
.saisieAssiste img{
  width: 1vw;
}
#content{
  font-size: 1.5vw;
}
#search{
  text-align: center;
}