button img{
	height: 1vw;
}
input{
  font-size: 1.5vw;
  padding: 0;
  border-width: 0.01vw;
  margin-top: 3vw;
}
select{
	font-size: 1.5vw;
	margin-top: 3vw;
}
#content{
	margin-left: 15vw;
}
a button{
	font-size: 1.5vw;
	margin-top: 5vw;
}
#modifiervirement{
	float: right;
	margin-left: 10vw;
}